<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>schedule</mat-icon>
    {{getDateString(this.accountingData.date)}} {{this.accountingData.startTime}} - {{this.accountingData.endTime}}
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>play_for_work</mat-icon>
    {{this.accountingData.total}} Schüsse
  </mat-list-item>
</mat-list>
<br>
<app-shooting-range-shot-number-table [(accountingData)]="accountingData" [editDisabled]="true"
                                      [summarizedAccountingData]="summarizedAccountingData"></app-shooting-range-shot-number-table>

