<h2>Scheibenreservationen</h2>

Scheiben können nur online über dieses Portal getätigt werden. Reservationen über den Standwart werden nicht akzeptiert.

<h3>Für Einzelschützen</h3>
Einzelschützen müssen sich einmalig als Einzelschützen registrieren. Für dies muss das Antragsformular ausgefüllt werden und
in der Schützenstube abgegeben werden. Nachdem Einreichen prüft ein Vorstandsmitglied des Ohrbühlverbands und löst
eine Erstellung eines Benutzerkontos aus. Der Einzelschütze wird per E-Mail über den Verlauf des Antrags informiert.
<br><br>
<i>Das Antragsformular kann in der Schützenstube bezogen werden.</i>

<h3>Für Vereine</h3>
Um einen Vereinskonto zu beantragen, wenden dich bitte an den Vorstand des Ohrbühlverbands oder nutze das <a
  href="public/contact">Kontaktformular</a>.
