<h2>Scheibenreservationen</h2>

Scheiben können nur online über dieses Portal getätigt werden. Reservationen über den Standwart werden nicht akzeptiert.

<h3>Für Einzelschützen</h3>
Einzelschützen müssen sich einmalig als Einzelschützen registrieren. Für dies muss das Antragsformular ausgefüllt werden und
in der Schützenstube abgegeben werden. Nachdem Einreichen prüft ein Vorstandsmitglied des Ohrbühlverbands den Antrag und löst
die Erstellung des Benutzerkontos aus. Der Einzelschütze wird per E-Mail über den Verlauf des Antrags informiert.
<br><br>
Für das Antragsformular für die Benützung der Schiessanlage benötigen wir:
<ul>
  <li>Deine Stammdaten (Name, Anschrift, Mobilenummer usw.)</li>
  <li>Gültiger Personalausweis ID / Pass</li>
  <li>Strafregisterauszug oder Kopie WES (beide Dokumente nicht älter als zwei Jahre)</li>
  <li>Deine Bestätigung über eine Privathaftpflicht-Versicherung mit einer Mindestdeckung von 5'000'000 CHF</li>
</ul>
<i>Das Antragsformular kann in der Schützenstube Ohrbühl bezogen werden.</i>

<h3>Für Vereine</h3>
Um einen Vereinskonto zu beantragen, wenden dich bitte an den Vorstand des Ohrbühlverbands oder nutze das <a
  href="public/contact">Kontaktformular</a>.
