<mat-card>
  <mat-card-content>
    <table [dataSource]="userList$" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> ID</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell> Benutzername</th>
        <td *matCellDef="let element" mat-cell> {{element.userName}}</td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th *matHeaderCellDef mat-header-cell> Vorname</th>
        <td *matCellDef="let element" mat-cell> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th *matHeaderCellDef mat-header-cell> Nackname</th>
        <td *matCellDef="let element" mat-cell> {{element.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th *matHeaderCellDef mat-header-cell> Rolle</th>
        <td *matCellDef="let element" mat-cell> {{getRoleText(element.roles)}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell>
          <span>
            Aktion
          </span>
          <span class="header-span">
            <mat-button-toggle-group #generalGroup="matButtonToggleGroup">
              <mat-button-toggle matTooltip="Erstellen" routerLink="/admin/user-create">
                <mat-icon color="accent" inline="true">add</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </span>
        </th>
        <td *matCellDef="let element" class="align-right" mat-cell>
          <mat-button-toggle-group #elementGroup="matButtonToggleGroup">
            <mat-button-toggle (click)="editUser(element.id)" matTooltip="Benutzer editieren">
              <mat-icon class="list-action-icon" color="primary" inline="true">edit</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="deleteUser(element.id, element.firstName, element.lastName)"
                               matTooltip="Benutzer löschen">
              <mat-icon class="list-action-icon" color="primary" inline="true">delete</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>
