<mat-card class="main-cards" xmlns="http://www.w3.org/1999/html">
  <mat-card-header>
    <mat-card-title>{{getDateString()}}</mat-card-title>
    <mat-card-subtitle *ngIf="businessHour.comment.length != 0">{{businessHour.comment}}</mat-card-subtitle>
    <span class="spacer"></span>
    <button (click)="onEdit()" class="action-buttons" color="accent" mat-stroked-button>
      <mat-icon>edit</mat-icon>
      Bearbeiten
    </button>
    <button (click)="onDelete()" [disabled]="deleteDisabled" class="action-buttons" color="accent" mat-stroked-button>
      <mat-icon>delete</mat-icon>
      Löschen
    </button>
  </mat-card-header>
  <mat-card-content>
    <button (click)="onBack()" class="action-buttons" color="accent" mat-button>
      <mat-icon>arrow_back</mat-icon>
      Zurück
    </button>
    <mat-grid-list cols="2" rowHeight="5.5em">
      <mat-grid-tile *ngFor="let element of dataSource.data" class="top-left">
        <mat-form-field appearance="outline">
          <mat-label>{{element.text}}</mat-label>
          <input disabled matInput value="{{element.count}}">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<app-admin-business-hour-reservation-list (reservationChanged)="onReservationChanged()"
                                          [businessHour]="businessHour"
                                          [occupancy]="businessHour.distance25mBlockManualOccupancy"
                                          [organizationList]="organizationList"
                                          facilityType="Distance25mBlockManuel"
                                          title="25m - manuell"></app-admin-business-hour-reservation-list>

<app-admin-business-hour-reservation-list (reservationChanged)="onReservationChanged()"
                                          [businessHour]="businessHour"
                                          [occupancy]="businessHour.distance25mBlockElectronicOccupancy"
                                          [organizationList]="organizationList"
                                          facilityType="Distance25mBlockElectronic"
                                          title="25m - elektronisch"></app-admin-business-hour-reservation-list>

<app-admin-business-hour-reservation-list (reservationChanged)="onReservationChanged()"
                                          [businessHour]="businessHour"
                                          [occupancy]="businessHour.distance50mManualOccupancy"
                                          [organizationList]="organizationList"
                                          facilityType="Distance50mManuel"
                                          title="50m - manuell"></app-admin-business-hour-reservation-list>

<app-admin-business-hour-reservation-list (reservationChanged)="onReservationChanged()"
                                          [businessHour]="businessHour"
                                          [occupancy]="businessHour.distance50mElectronicOccupancy"
                                          [organizationList]="organizationList"
                                          facilityType="Distance50mElectronic"
                                          title="50m - elektronisch"></app-admin-business-hour-reservation-list>

<app-admin-business-hour-reservation-list (reservationChanged)="onReservationChanged()" [businessHour]="businessHour"
                                          [occupancy]="businessHour.distance100mOccupancy"
                                          [organizationList]="organizationList"
                                          facilityType="Distance100m"
                                          title="100m"></app-admin-business-hour-reservation-list>

<app-admin-business-hour-reservation-list (reservationChanged)="onReservationChanged()" [businessHour]="businessHour"
                                          [occupancy]="businessHour.distance300mOccupancy"
                                          [organizationList]="organizationList"
                                          facilityType="Distance300m"
                                          title="300m"></app-admin-business-hour-reservation-list>

