<div class="content mat-app-background">
  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!isMobileView" class="toolbar-bg">
      <button class="toolbar-home-button" mat-button routerLink="/"></button>
      <span class="toolbar-bg-spacer"></span>
      <app-toolbar-menu-button *ngFor="let entry of appMenuEntries" [hidden]="isMobileView || entry.notVisibleInToolbar"
                               [menuEntry]="entry"/>

      <span class="spacer"></span>

      <button *appShowSingleShooter class="toolbar-buttons" color="accent" mat-flat-button routerLink="/single-shooter">
        Einzelschütze
      </button>

      <button *appShowShootingRangeManager class="toolbar-buttons" color="accent" mat-flat-button
              routerLink="/shooting-range">
        Standwart
      </button>

      <button *appShowOrganizationManager class="toolbar-buttons" color="accent" mat-flat-button
              routerLink="/organization-manager">
        Vereinsmanager
      </button>

      <button *appShowEventOrganizer class="toolbar-buttons" color="accent" mat-flat-button routerLink="/event-manager">
        Anlassorganisator
      </button>

      <button *appShowShootingRangeManager mat-icon-button matTooltip="Nachrichten" routerLink="/contact-message">
        <mat-icon [matBadgeHidden]="notificationService.getMessageCount() == 0"
                  [matBadge]="notificationService.getMessageCount()"
                  aria-hidden="false" matBadgeColor="warn">
          question_answer
        </mat-icon>
      </button>

      <button *appShowAdmin mat-icon-button matTooltip="Anträge" routerLink="/applications">
        <mat-icon [matBadgeHidden]="notificationService.getApplicationCount() == 0"
                  [matBadge]="notificationService.getApplicationCount()"
                  aria-hidden="false" matBadgeColor="warn">
          how_to_reg
        </mat-icon>
      </button>

      <button *appShowAdmin mat-icon-button matTooltip="Admin" routerLink="/admin">
        <mat-icon color="accent">admin_panel_settings</mat-icon>
      </button>

      <button *appShowLoggedOut mat-icon-button matTooltip="Login" routerLink="/user/login">
        <mat-icon>login</mat-icon>
      </button>

      <ng-container *ngTemplateOutlet="userMenu"/>

    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="isMobileView">
      <button (click)="drawer.toggle()" color="primary" mat-icon-button>
        <mat-icon class="icon-white">menu</mat-icon>
      </button>
      <span class="spacer"></span>

      <ng-container *appShowSingleShooter>
        <app-toolbar-menu-icon *ngFor="let entry of appSingleShooterMenuEntries" [hidden]="!isMobileView"
                               [menuEntry]="entry" color="accent"/>
      </ng-container>

      <ng-container *appShowOrganizationManager>
        <app-toolbar-menu-icon *ngFor="let entry of appOrganizationManagerMenuEntries" [hidden]="!isMobileView"
                               [menuEntry]="entry" color="accent"/>
      </ng-container>

      <button *appShowLoggedOut mat-icon-button matTooltip="Login" routerLink="/user/login">
        <mat-icon>login</mat-icon>
      </button>

      <ng-container *ngTemplateOutlet="userMenu"/>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container autosize class="content-container">
    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list>
        <ng-container *ngFor="let entry of appMenuEntries">
          <ng-container *ngIf="entry.subs.length == 0">
            <mat-list-item (click)="onSidenav(entry)" class="menu-item">
              {{entry.name}}
            </mat-list-item>
          </ng-container>
          <mat-expansion-panel *ngIf="entry.subs.length != 0" [(expanded)]="entry.expanded"
                               [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header (click)="onSidenav(entry)" class="menu-item">
              {{entry.name}}
            </mat-expansion-panel-header>
            <ng-container *ngIf="entry.subs.length != 0">
              <mat-nav-list *ngFor="let subEntry of entry.subs">
                <mat-list-item (click)="onSidenav(subEntry)" class="menu-item">
                  {{subEntry.name}}
                </mat-list-item>
              </mat-nav-list>
            </ng-container>
          </mat-expansion-panel>
        </ng-container>
      </mat-nav-list>
    </mat-drawer>

    <router-outlet></router-outlet>

  </mat-drawer-container>


  <mat-toolbar *ngIf="!isMobileView" class="footer" color="primary">
    &copy; Ohrbühlverband {{currentYear}}
  </mat-toolbar>
</div>

<ng-template #userMenu let-description>
  <ng-container *ngIf="authService.isLoggedIn()">
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button disabled mat-menu-item>
        <span>Rolle: {{getRoleText()}}</span>
      </button>
      <button mat-menu-item routerLink="user/account">
        <mat-icon>account_circle</mat-icon>
        <span>Benutzerkonto</span>
      </button>
      <button mat-menu-item routerLink="user/password-change">
        <mat-icon>password</mat-icon>
        <span>Passwort ändern</span>
      </button>
    </mat-menu>

    <button (click)="logout()" mat-icon-button matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</ng-template>


