
.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.content-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.footer {
  max-height: 2em;
  font-size: 12pt;
}

.menu-toolbar {
  max-height: 2em;
}

.spacer {
  flex: 1 1 auto;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.toolbar-bg {
  background: url('../assets/images/title.png') left center no-repeat;
  background-size: 265px 65px;
}

.toolbar-home-button {
  width: 225px;
  height: 65px;
}

.toolbar-buttons {
  margin-right: 0.5em;
}

.toolbar-bg-spacer {
  width: 1em;
}

.sidenav {
  padding: 0em;
  min-width: 10em;
  max-width: 15em;
}

.menu-item {
  padding-left: 0.5em;
  font-size: 12pt;
  font-weight: normal;
}
