<mat-card>
  <mat-card-header>
    <mat-card-title>Passwort ändern</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="changeFailed">
        <p>
          Altes Passwort stimmt nicht
        </p>
      </mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Altes Password</mat-label>
        <input (input)="onInputChange()" [(ngModel)]="oldPassword" matInput name="oldPassword" required type="password">
        <mat-error>
          Bitte ein gültiges Passwort eingeben
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Neues Passwort</mat-label>
        <input (input)="onInputChange()" [(ngModel)]="newPassword" [type]="hidePassword ? 'password' : 'text'" matInput
               name="newPassword" required>
        <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword" mat-icon-button matSuffix>
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Neues Password wiederholden</mat-label>
        <input (input)="onInputChange()" [(ngModel)]="newPasswordConfirm" matInput name="newPasswordConfirm"
               required type="password">

        <button *ngIf="passwordMatch" mat-icon-button matSuffix>
          <mat-icon class="icon-green">check</mat-icon>
        </button>
      </mat-form-field>

      <button [disabled]="!loginForm.form.valid || !passwordMatch || disableSubmitButton" color="primary"
              mat-raised-button>Ändern
      </button>
    </form>
  </mat-card-content>
</mat-card>
