<mat-card>
  <mat-card-content>
    <table [dataSource]="organizationList$" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> ID</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="abbreviation">
        <th *matHeaderCellDef mat-header-cell> Abkürzung</th>
        <td *matCellDef="let element" mat-cell> {{element.abbreviation}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th *matHeaderCellDef mat-header-cell> Farbe</th>
        <td *matCellDef="let element" mat-cell>
          <mat-chip disableRipple style="background-color: {{element.color}};"></mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="native">
        <th *matHeaderCellDef mat-header-cell> Lokal</th>
        <td *matCellDef="let element" mat-cell> {{element.native}}</td>
      </ng-container>

      <ng-container matColumnDef="300m">
        <th *matHeaderCellDef mat-header-cell>300m</th>
        <td *matCellDef="let element" mat-cell> {{element.distance_300m}}</td>
      </ng-container>

      <ng-container matColumnDef="100m">
        <th *matHeaderCellDef mat-header-cell>100m</th>
        <td *matCellDef="let element" mat-cell> {{element.distance_100m}}</td>
      </ng-container>

      <ng-container matColumnDef="50m">
        <th *matHeaderCellDef mat-header-cell>50m</th>
        <td *matCellDef="let element" mat-cell> {{element.distance_50m}}</td>
      </ng-container>

      <ng-container matColumnDef="25m">
        <th *matHeaderCellDef mat-header-cell>25m</th>
        <td *matCellDef="let element" mat-cell> {{element.distance_25m}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef class="align-right" mat-header-cell> Aktion
          <button color="accent" mat-button matTooltip="Erstellen" routerLink="/admin/organization-create">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td *matCellDef="let element" class="align-right" mat-cell>
          <mat-button-toggle-group #elementGroup="matButtonToggleGroup">
            <mat-button-toggle (click)="editOrganization(element.id)" matTooltip="Organisation löschen">
              <mat-icon class="list-action-icon" color="primary" inline="true">edit</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="deleteOrganization(element.id, element.name)"
                               matTooltip="Organisation löschen">
              <mat-icon class="list-action-icon" color="primary" inline="true">delete</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>

