table {
  width: 100%;
}

.mat-card {
  width: auto;
}

.mat-header-cell {
  padding: 10px;
}

.mat-cell {
  padding: 10px;
}

.outline {
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
}

tr.mat-footer-row {
  font-weight: bold;
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}
