<mat-card class="mat-elevation-z0 outline">
  <table [dataSource]="organizationList$" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="abbreviation">
      <th *matHeaderCellDef mat-header-cell> Abkürzung</th>
      <td *matCellDef="let element" mat-cell> {{element.abbreviation}} </td>
    </ng-container>

    <ng-container matColumnDef="native">
      <th *matHeaderCellDef mat-header-cell> Lokal</th>
      <td *matCellDef="let element" mat-cell> {{element.native}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef class="align-right" mat-header-cell> Aktion
        <button mat-icon-button matTooltip="Erstellen" routerLink="/admin/organization-create">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td *matCellDef="let element" class="align-right" mat-cell>
        <button (click)="editOrganization(element.id)" mat-icon-button matTooltip="Organisation editieren">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteOrganization(element.id, element.name)" mat-icon-button
                matTooltip="Organisation löschen">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

</mat-card>
