<h1>Rechnungen</h1>
<app-year-selector-standalone (yearChangeEvent)="onYearChange()"></app-year-selector-standalone>
<br>
<div class="mat-elevation-z4">
  <table [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="id">ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container class="full-width" matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="title">Titel</th>
      <td *matCellDef="let element" mat-cell> {{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="date">Datum</th>
      <td *matCellDef="let element" mat-cell> {{getDateString(element.date)}} </td>
    </ng-container>

    <ng-container matColumnDef="payed">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="payed">Bezahlt</th>
      <td *matCellDef="let element" mat-cell> {{getPayedString(element.payed)}}</td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th *matHeaderCellDef mat-header-cell>Ersteller</th>
      <td *matCellDef="let element" mat-cell> {{element.creator.firstName + " " + element.creator.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef class="align-right" mat-header-cell>
        <span>
          Aktion
        </span>
        <span class="header-span">
          <mat-button-toggle-group #generalGroup="matButtonToggleGroup">
            <mat-button-toggle matTooltip="Erstellen" routerLink="/shooting-range/invoice-edit">
              <mat-icon color="accent" inline="true">add</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </span>
      </th>
      <td *matCellDef="let element" class="align-right" mat-cell>
        <mat-button-toggle-group #elementGroup="matButtonToggleGroup">
          <mat-button-toggle (click)="onView(element.id)" matTooltip="Anzeigen">
            <mat-icon color="primary" inline="true">visibility</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onDownload(element.id)" matTooltip="Download PDF">
            <mat-icon color="primary" inline="true">file_download</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onEdit(element.id)" matTooltip="Bearbeiten">
            <mat-icon color="primary" inline="true">edit</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onDelete(element)" matTooltip="Löschen">
            <mat-icon color="primary" inline="true">delete</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 25, 100]" aria-label="Select page of users"/>

</div>

