table {
  width: 100%;
}

.mat-icon {
  font-size: 2em;
}

.mat-card {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  text-align: left;
}

th.mat-header-cell {
  padding-right: 1em;
  text-align: left;
}

td.mat-cell {
  padding-right: 1em;
}


.mat-button-toggle-group {
  height: 2rem;
  align-items: center;
}

.mat-button-toggle-button {
  height: 1rem;
}

.header-span {
  margin-left: 1rem;
}
