.occupancy-label {
}

.occupancy-value {
  padding-left: 2em;
  font-weight: bold;
}

.occupancy-unit {
  padding-left: 2em;
}

.occupancy-red-text {
  color: red;
}

.occupancy-green-text {
  color: green;
}
