table {
  width: 100%;
}

.mat-icon {
  font-size: 2em;
}

td, th {
  white-space: pre-line;
  word-wrap: break-word;
  max-width: 32em;
}

.mat-card-content {
  width: auto;
}

.outline {
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}

.mat-button-toggle-group {
  height: 2rem;
  align-items: center;
}

.mat-button-toggle-button {
  height: 2rem;
}

.list-action-icon {
  font-size: 2em;
}

.header-span {
  margin-left: 0.5rem;
}
