<h2>Allgemeine Geschäftsbedingungen (AGB) der Schiessanlage Ohrbühl</h2>

<h3>Sorgfaltspflicht</h3>
Gebäude, Anlagen und Einrichtungen aller Art sind mit grösster Sorgfalt zu benützen. Beschädigungen und ihre
Verursacher sind dem Standwart unverzüglich zu melden. Aufwendungen zur Schadenbehebungen werden den Verursachern in
Rechnung gestellt. Grobfahrlässigkeit und / oder mutwillige Beschädigungen können zum Ausschluss führen.

<h3>Haftung</h3>
Die Benutzer haften für verursachte Schäden nach Massgabe der einschlägigen Vorschriften. Die Benutzer müssen über
eine Privathaftpflicht Versicherung, mit minimaler Versicherungssumme von 5'000'000 SFr., verfügen. Diese Bestimmung
gilt auch für Vereine. Verantwortlich für die Einhaltung ist der Präsident vom jeweiligen Verein. Der Betreiber der
Schiessanlage lehnt aus dem Betrieb der Schiessanlage jegliche Haftung am Eigentum Dritter ab.
Für die Benutzung der Schiessanlage werden jegliche Haftungsansprüche gegenüber dem Betreiber ausgeschlossen.

<h3>Registrierung Einzelschützen</h3>
Bei der Registrierung muss folgendes vorgelegt werden:
<ul>
  <li>Stammdaten (Name, Anschrift, Mobilenummer usw.)</li>
  <li>Kopie des gültigen Personalausweis ID / Pass</li>
  <li>Strafregisterauszug oder Kopie WES (beide Dokumente nicht älter als zwei Jahre)</li>
  <li>Bestätigung über eine Privathaftpflicht-Versicherung mit einer Mindestdeckung von 5'000'000 SFr.</li>
</ul>

<h3>Schiessfertigkeiten</h3>
Benützer der Schiessanlage welche keine Schiessfertigkeit vorweisen können, schiessen zu Beginn mit einem Instruktor.
Der Standwart wird beim Finden eines Instruktor behilflich sein. Der Instruktor entscheidet anschliessend, ob ein
selbstständiges Schiessen möglich ist. Schützen welche über eine Schiesslizenz SSV oder IPSC verfügen, einen
Waffentragschein oder einen Dienstausweis von Polizei, Militär oder Grenzwachtkorps vorweisen, schiessen von Beginn
weg selbstständig.

<h3>Sicherheitsbestimmungen</h3>
Die <a routerLink="/public/safety-regulations">Sicherheitsbestimmungen</a> gelten als integrierten Bestandteil der
Allgemeinen Geschäftsbedingungen (AGB).

<h3>Nicht zugelassene Personen</h3>
Die Nutzung der Anlage ist für Benutzer aus Ländern, welche in der Waffenverordnung vom Erwerb von Waffen ausgeschlossen
sind, untersagt. Art 7 WG und Art. 12 WV, Hinderungsgründe WG Art. 8 Abs 2.

<h3>Auschluss</h3>
Benutzer, welche gegen die AGB und Sicherheitsbestimmungen der Anlage verstossen und/oder Schäden verursachen, können
ohne Rückvergütung bezahlter Vorleistungen, von der Benutzung der Schiessanlage ausgeschlossen werden. Der Standwart
sowie der Vorstand des Ohrbühlverbandes behält sich das Recht vor, Personen von der Schiessanlage zu verweisen oder
abzulehnen. Dies kann ohne Angabe von weiteren Gründen geschehen.

<h3>Alkohol und Drogen</h3>
Die Konsumation jeglicher Art von Suchtmittel ist strikte verboten. Es ist untersagt, sich in einen Zustand zu versetzen,
in dem sich der Schütze selber oder andere gefährdet.

<h3>Reinigung</h3>
Hülsen und die während des Schiessens angefallenen Reststoffe sind nach dem Schiessen in die dafür bereitgestellten
Behältnisse zu entsorgen. Die Schiessanlage ist aufgeräumt zu hinterlassen.

<h3>Betriebszeiten</h3>
Die aktuellen <a routerLink="/public/business-hours">Öffnungszeiten</a> entnehmen sie bitte der Webseite.
