<h1>{{getDateString()}}
  <span *ngIf="businessHour.comment.length != 0"> ({{businessHour.comment}})</span>

  <button (click)="onEdit()" class="action-buttons" color="accent" mat-stroked-button>
    <mat-icon>edit</mat-icon>
    Bearbeiten
  </button>
  <button (click)="onDelete()" [disabled]="deleteDisabled" class="action-buttons" color="accent" mat-stroked-button>
    <mat-icon>delete</mat-icon>
    Löschen
  </button>
</h1>
<button (click)="onBack()" class="action-buttons" color="accent" mat-button>
  <mat-icon>arrow_back</mat-icon>
  Zurück
</button>

<mat-card class="main-cards" xmlns="http://www.w3.org/1999/html">
  <mat-card-header>
    <mat-card-title>Belegung</mat-card-title>
    <span class="spacer"></span>
    <button (click)="onOccupancyEdit()" class="action-buttons" color="accent" mat-stroked-button>
      <mat-icon>edit</mat-icon>
      Maximum bearbeiten
    </button>
  </mat-card-header>
  <mat-card-content>
    <br>
    <section *ngFor="let element of dataSource.data">
      <div class="occupancy-label">{{element.text}}</div>
      <div [ngClass]="element.occupancy.current >= element.occupancy.max ? 'occupancy-red-text': 'occupancy-green-text'"
           class="occupancy-value">{{element.count}}
      </div>
      <div class="occupancy-unit">&nbsp;{{getOccupancyUnitString(element)}}</div>
    </section>
  </mat-card-content>
</mat-card>

<business-hour-admin-reservation-list (reservationChanged)="onReservationChanged()"
                                      [businessHour]="businessHour"
                                      [occupancy]="businessHour.distance25mBlockManualOccupancy"
                                      facilityType="Distance25mBlockManuel"></business-hour-admin-reservation-list>

<business-hour-admin-reservation-list (reservationChanged)="onReservationChanged()"
                                      [businessHour]="businessHour"
                                      [occupancy]="businessHour.distance25mBlockElectronicOccupancy"
                                      facilityType="Distance25mBlockElectronic"></business-hour-admin-reservation-list>

<business-hour-admin-reservation-list (reservationChanged)="onReservationChanged()"
                                      [businessHour]="businessHour"
                                      [occupancy]="businessHour.distance50mManualOccupancy"
                                      facilityType="Distance50mManuel"></business-hour-admin-reservation-list>

<business-hour-admin-reservation-list (reservationChanged)="onReservationChanged()"
                                      [businessHour]="businessHour"
                                      [occupancy]="businessHour.distance50mElectronicOccupancy"
                                      facilityType="Distance50mElectronic"></business-hour-admin-reservation-list>

<business-hour-admin-reservation-list (reservationChanged)="onReservationChanged()" [businessHour]="businessHour"
                                      [occupancy]="businessHour.distance100mOccupancy"
                                      facilityType="Distance100m"></business-hour-admin-reservation-list>

<business-hour-admin-reservation-list (reservationChanged)="onReservationChanged()" [businessHour]="businessHour"
                                      [occupancy]="businessHour.distance300mOccupancy"
                                      facilityType="Distance300m"></business-hour-admin-reservation-list>

