.spacer {
  flex: 1 1 auto;
}

.action-buttons {
  margin-left: 0.5em;
}

.main-cards {
  margin-top: 1em;
}

.text-inside-grid {
  justify-content: flex-start !important;
}

.top-left {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

section {
  display: table;
}

.occupancy-label {
  display: table-cell;
  min-width: 20em;
}

.occupancy-value {
  display: table-cell;
  min-width: 4em;
  font-weight: bold;
}

.occupancy-unit {
  display: table-cell;
}

.occupancy-red-text {
  color: red;
}

.occupancy-green-text {
  color: green;
}
