<h1>Schusszahlen</h1>
<app-year-selector-standalone (yearChangeEvent)="onTimeRangeChange()"></app-year-selector-standalone>
<br>

<div class="mat-elevation-z4">
  <table #table [dataSource]="dataSource" id="table" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="id">ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="start">Datum</th>
      <td *matCellDef="let element" mat-cell> {{getDateString(element)}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="type">Typ</th>
      <td *matCellDef="let element" mat-cell> {{getTypeString(element.type)}}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="total">Anzahl</th>
      <td *matCellDef="let element" mat-cell> {{element.total}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>Aktion</th>
      <td *matCellDef="let element" mat-cell>
        <mat-button-toggle-group #elementGroup="matButtonToggleGroup">
          <mat-button-toggle (click)="onView(element.id)" matTooltip="Anzeigen">
            <mat-icon color="primary" inline="true">visibility</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onDownload(element.id)" matTooltip="Download PDF">
            <mat-icon color="primary" inline="true">file_download</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onEdit(element.id)" matTooltip="Bearbeiten">
            <mat-icon color="primary" inline="true">edit</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onDelete(element)" matTooltip="Löschen">
            <mat-icon color="primary" inline="true">delete</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15, 25, 100]" aria-label="Select page of users"/>
</div>

