<h2>Sicherheitsbestimmungen</h2>
Diese Sicherheitsbestimmungen gelten als integrierter Bestandteil der
<a routerLink="/public/general-business-terms">Allgemeinen Geschäftsbedingungen</a>. Es gelten die einschlägigen
Sicherheitsvorschriften im Umgang von Feuerwaffen vom Bund und SSV.

<h3>Grundsatz</h3>
<ul>
  <li>Alle Waffen sind immer als geladen zu betrachten, bis man sich selbst durch die PSK bzw. durch eine
    Entladekontrolle vom Gegenteil überzeugt hat.
  </li>
  <li>Nie eine Waffe auf etwas richten, das man nicht treffen will</li>
  <li>Solange die Visiervorrichtung nicht auf das Ziel gerichtet ist, ist der Zeigefinger ausserhalb des Abzugbügels zu
    halten
  </li>
  <li>Seines Zieles sicher sein</li>
  <li>Jeder Schuss muss vom Schützen verantwortet werden</li>
  <li>Seriefeuer ist verboten</li>
</ul>

<h3>Betreten der Anlage</h3>
<h4>Gewehr</h4>
Die Waffen sind offen, das heisst nicht in Behältnissen in den Schiessstand zu bringen. Die Waffen sind gesichert und
das Magazin ist zu entfernen. Wenn möglich ist der Verschluss in offener Stellung zu arretieren.
<h4>Pistole</h4>
Die Waffe ist erst an der Ladebank aus dem Transportbehälter zu entnehmen und vor dem Verlassen der Ladebank wieder in
den Transportbehälter zu versorgen.

<h3>Gehörschutz</h3>
Das Tragen vom Gehörschutz in der Schiessanlage ist Pflicht.

<h3>Erlaubte Kaliber</h3>
Die <a routerLink="/public/allowed-caliber">erlaubten Kaliber</a> sind auf der Webseite aufgelistet.

<h3>Laden / Entladen</h3>
Waffen dürfen einzig auf der Ladebank bzw. dem Läger geladen werden. Unmittelbar nach dem Schiessen ist eine
vorschriftsgemässe Entladung mit korrekter Entladekontrolle durchzuführen.

<h3>Waffenreinigung</h3>
Reinigungen dürfen nur in dem  dafür bestimmten Putzstand ausgeführt werden.

<h3>Waffentransport</h3>
Waffen müssen für den Transport entladen sein. Innerhalb der Schiessanlage dürfen Waffen einzig mit offenem Verschluss
transportiert werden (WG Art. 28).
