<mat-card class="mat-elevation-z1">
  <mat-card-header><h3>Tagesabrechnung</h3></mat-card-header>
  <mat-card-content>
    <mat-stepper #stepper linear>
      <mat-step editable="false">
        <ng-template matStepLabel>Distanz wählen</ng-template>
        <app-shooting-range-accounting-step-type-selection
          (selectedTypeChange)="onAccountingTypeSelected(stepper, $event)"></app-shooting-range-accounting-step-type-selection>
      </mat-step>
      <mat-step *ngIf="stepEnableEnterData" editable="false">
        <ng-template matStepLabel>Eingaben</ng-template>
        <app-shooting-range-accounting-step-enter-date-and-time (accountingDataChange)="onDateSelected(stepper)"
                                                                [(accountingData)]="accountingData"></app-shooting-range-accounting-step-enter-date-and-time>
      </mat-step>

      <mat-step *ngIf="stepEnableUploadSiusData" editable="false">
        <ng-template matStepLabel>SIUS Data Datei hochladen</ng-template>
        <app-shooting-range-accounting-step-upload-sius-data (accountingDataChange)="onSiusDataUploaded(stepper)"
                                                             [(accountingData)]="accountingData" [(maxTrack)]="maxTrack"
                                                             [(minTrack)]="minTrack">
        </app-shooting-range-accounting-step-upload-sius-data>
      </mat-step>
      <mat-step *ngIf="stepEnableAssignTracks" editable="false">
        <ng-template matStepLabel>Scheiben zuordnen</ng-template>


        <p>
          <app-shooting-range-track-assignment (accountingDataChange)="onTrackAssigned(stepper)"
                                               [(accountingData)]="accountingData"
                                               [maxTrack]="maxTrack"
                                               [minTrack]="minTrack"></app-shooting-range-track-assignment>
        </p>
      </mat-step>
      <mat-step *ngIf="stepEnableManualAssignTracks" editable="false">
        <ng-template matStepLabel>Schusszahlen eingeben</ng-template>


        <p>
          <app-shooting-range-track-assignment (accountingDataChange)="onTrackAssigned(stepper)"
                                               [(accountingData)]="accountingData" [maxTrack]="maxTrack"
                                               [minTrack]="minTrack"></app-shooting-range-track-assignment>
        </p>
      </mat-step>
      <mat-step *ngIf="stepEnableCheck" editable="false">
        <ng-template matStepLabel>Kontrolle</ng-template>
        <app-shooting-range-accounting-step-view-detail
          [accountingData]="accountingData"
          [summarizedAccountingData]="summarizedAccountingData"></app-shooting-range-accounting-step-view-detail>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
