<div *ngIf="userInformation != undefined">
  <h1>{{userInformation!.firstName}} {{userInformation!.lastName}} </h1>
  
  <section>
    <div class="section-label">Strasse</div>
    <div class="section-content-row">{{userInformation!.street}}</div>
  </section>
  <section>
    <div class="section-label">Ort</div>
    <div class="section-content-row">{{userInformation!.zip}} {{userInformation!.location}}</div>
  </section>
  <br>
  <section>
    <div class="section-label">Telefonnummer</div>
    <div class="section-content-row">{{userInformation!.mobile}}</div>
  </section>
  <section>
    <div class="section-label">E-Mail</div>
    <div class="section-content-row">{{userInformation!.email}}</div>
  </section>
  <br>
  <mat-divider></mat-divider>
  <br>
  <section>
    <div class="section-label">Benutzername</div>
    <div class="section-content-row">{{userInformation!.userName}}</div>
  </section>
  <section>
    <div class="section-label">Rolle</div>
    <div class="section-content-row">{{getUserRole()}}</div>
  </section>
</div>
<br>

<p *ngIf="authService.isAdmin()">
  <mat-form-field appearance="outline" class="select-width">
    <mat-label>Benutzer</mat-label>
    <mat-select (valueChange)="onUserChange($event)" [(ngModel)]="userId" required>
      <mat-option *ngFor="let user of userList" [value]="user.id">
        {{user.firstName}} {{user.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<mat-card *ngIf="reservationList.length != 0" class="reservation-card">
  <mat-card-header>
    <mat-card-title>Nächste Reservationen</mat-card-title>
    <mat-icon class="mat-card-icon" color="primary" mat-card-avatar>donut_large</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <business-hour-next-reservations [reservationList]="reservationList"></business-hour-next-reservations>
  </mat-card-content>
</mat-card>
