.mat-card-icon {
  width: 30px;
  height: 30px;
  font-size: 1.5em;
}

.reservation-card {
  width: 95vw;
  max-width: 50em;
}

section {
  display: table;
}

.section-label {
  display: table-cell;
  font-weight: bold;
  margin-left: 1em;
  min-width: 9em;
}

.section-content-row {
  display: table-cell;
  max-width: 50em;
}
