<p>
  <button (click)="onSubmit()" [disabled]="nextButtonDisabled" class="full-width" color="primary" mat-raised-button>
    {{buttonText}}
  </button>
</p>
<p>
  <button (click)="doAssignmentDialog()" class="full-width" color="primary" mat-raised-button>Mehrere Scheiben zuordnen
  </button>
</p>

<app-shooting-range-shot-number-table (accountingDataChange)="update()" [(accountingData)]="accountingData"
                                      [editDisabled]="false" [editShots]="manualEdit"
                                      [organizations]="organizations" [prices]="prices"
                                      [summarizedAccountingData]="summarizedAccountingData"></app-shooting-range-shot-number-table>
