<p>
  <button (click)="onSubmit()" [disabled]="nextButtonDisabled" class="full-width" color="primary" mat-raised-button>
    {{buttonText}}
  </button>
</p>

<mat-form-field appearance="outline" class="number-input">
  <mat-label>Scheibe</mat-label>
  <input [(ngModel)]="assignmentTrackStart" [max]="maxTrack" [min]="minTrack" matInput maxlength="2"
         type="number">
  <mat-hint>Zahl von {{minTrack}} - {{maxTrack}}</mat-hint>
</mat-form-field>
bis
<mat-form-field appearance="outline" class="number-input">
  <mat-label>Scheibe</mat-label>
  <input [(ngModel)]="assignmentTrackEnd" [max]="maxTrack" [min]="minTrack" matInput maxlength="2" type="number">
  <mat-hint>Zahl von {{minTrack}} - {{maxTrack}}</mat-hint>
</mat-form-field>
<mat-form-field appearance="outline" class="price-input">
  <mat-label>Schussgeld</mat-label>
  <mat-select [(ngModel)]="assignmentShotPrice" placeholder="Bitte auswählen">
    <mat-option *ngFor="let price of prices" [value]="price.id">
      {{price.name}} ({{price.price}} SFr.)
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="organization-input">
  <mat-label>Organisation</mat-label>
  <mat-select [(ngModel)]="assignmentOrganization" placeholder="Bitte auswählen">
    <mat-option *ngFor="let organization of organizations" [value]="organization.id">
      {{organization.name}} ({{organization.abbreviation}})
    </mat-option>
  </mat-select>
</mat-form-field>
<button (click)="doAssignment()" color="primary" mat-raised-button>Zuordnen</button>

<app-shooting-range-shot-number-table (accountingDataChange)="checkIfAllFilledIn()" [(accountingData)]="accountingData"
                                      [editDisabled]="false" [editShots]="manualEdit" [organizations]="organizations"
                                      [prices]="prices"></app-shooting-range-shot-number-table>
