<p>
  <button (click)="onSubmit()" [disabled]="nextButtonDisabled" class="full-width" color="primary" mat-raised-button>
    {{buttonText}}
  </button>
</p>

<app-shooting-range-track-edit-buttons (accountingDataChange)="update()" [(accountingData)]="accountingData"
                                       [organizations]="organizations"
                                       [prices]="prices"></app-shooting-range-track-edit-buttons>
<br>
<app-shooting-range-shot-number-table
  [accountingData]="summarizedAccountingData"></app-shooting-range-shot-number-table>
