<mat-card class="mat-elevation-z1">
  <mat-card-content>

    <h3>{{formTitle}}</h3>
    <mat-error *ngIf="!formValid">
      Bitte alle Daten eingeben.
    </mat-error>
    <mat-stepper #stepper linear>
      <mat-step *ngIf="stepEnableTypeSelection">
        <ng-template matStepLabel>Rechnungsart</ng-template>
        <app-invoice-step-type-selection
          (selectedTypeChange)="onInvoiceTypeChange(stepper, $event)"></app-invoice-step-type-selection>
      </mat-step>

      <mat-step *ngIf="stepEnableAccountingSelection" [editable]="true">
        <ng-template matStepLabel>Schussgelddaten</ng-template>
        <app-invoice-step-accounting-selection (invoiceDataChange)="onStepSubmit(stepper)"
                                               [(invoiceData)]="invoiceData"></app-invoice-step-accounting-selection>
      </mat-step>

      <mat-step *ngIf="stepEnableAccountingTimeRangeSelection" [editable]="true">
        <ng-template matStepLabel>Schussgelddaten</ng-template>
        <app-invoice-step-accounting-select-time-range (invoiceDataChange)="onStepSubmit(stepper)"
                                                       [(invoiceData)]="invoiceData"></app-invoice-step-accounting-select-time-range>
      </mat-step>

      <mat-step *ngIf="stepEnableAccountingMilitary" [editable]="true">
        <ng-template matStepLabel>Schussgelddaten (Militär)</ng-template>
        <app-invoice-step-accounting-military (invoiceDataChange)="onStepSubmit(stepper)"
                                              [(invoiceData)]="invoiceData"></app-invoice-step-accounting-military>
      </mat-step>

      <mat-step *ngIf="stepEnableInformation" [editable]="true">
        <ng-template matStepLabel>Allgemeine Informationen</ng-template>
        <app-invoice-step-information (invoiceDataChange)="onStepSubmit(stepper)"
                                      [(invoiceData)]="invoiceData"></app-invoice-step-information>
      </mat-step>
      <mat-step *ngIf="stepEnableItemEdit" [editable]="true">
        <ng-template matStepLabel>Rechnungsposten</ng-template>
        <app-invoice-step-item-edit (invoiceDataChange)="onStepSubmit(stepper)" [(invoiceData)]="invoiceData">
        </app-invoice-step-item-edit>
      </mat-step>

      <mat-step *ngIf="stepEnableCheck" [editable]="true">
        <ng-template matStepLabel>Kontrolle</ng-template>
        <app-invoice-detail-view [invoiceData]="invoiceData"></app-invoice-detail-view>
        <p>
        <table class="full-width">
          <tr>
            <td class="half-width">
              <button (click)="onSave()" class="full-width" color="primary" mat-raised-button>Speichern</button>
            </td>
          </tr>
        </table>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
