<mat-card class="mat-elevation-z1">
  <mat-card-content>

    <h3>{{formTitle}}</h3>
    <mat-error *ngIf="!formValid">
      Bitte alle Daten eingeben.
    </mat-error>
    <mat-stepper #stepper linear>
      <mat-step [editable]="true">
        <ng-template matStepLabel>Allgemeine Informationen</ng-template>
        <app-invoice-information (invoiceDataChange)="onStepSubmit(stepper)"
                                 [(invoiceData)]="invoiceData"></app-invoice-information>
      </mat-step>
      <mat-step [editable]="true">
        <ng-template matStepLabel>Rechnungsposten</ng-template>
        <app-invoice-item-edit (invoiceDataChange)="onStepSubmit(stepper)" [(invoiceData)]="invoiceData">>
        </app-invoice-item-edit>
      </mat-step>

      <mat-step [editable]="true">
        <ng-template matStepLabel>Kontrolle</ng-template>
        <app-invoice-detail-view [invoiceData]="invoiceData"></app-invoice-detail-view>
        <p>
        <table class="full-width">
          <tr>
            <td class="half-width">
              <button (click)="onSave()" class="full-width" color="primary" mat-raised-button>Speichern</button>
            </td>
          </tr>
        </table>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
