mat-card {
  width: 40rem;
}

mat-form-field {
  margin-left: 1em;
  width: 37rem;
}

.form-field-half {
  width: 18rem;
  margin-left: 1em;
}

.form-field-quarter {
  width: 9rem;
  margin-left: 1em;
}

.form-field-three-quarter {
  width: 27rem;
  margin-left: 1em;
}
