<mat-card class="mat-elevation-z1">
  <mat-card-content>
    <form #userCreateForm="ngForm" (ngSubmit)="onSubmit()">
      <h3>Benutzer editieren</h3>
      <mat-error *ngIf="!formValid">
        Bitte alle Daten eingeben.
      </mat-error>

      <mat-form-field appearance="outline">
        <input [(ngModel)]="user.userName" matInput name="userName" placeholder="Benutzername" required>
        <mat-error>
          Bitte einen Spitznamen angeben.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input [(ngModel)]="user.firstName" matInput name="firstName" placeholder="Vorname" required>
        <mat-error>
          Bitte einen Vornamen angeben.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [(ngModel)]="user.lastName" matInput name="lastName" placeholder="Nachname" required>
        <mat-error>
          Bitte einen Nachnamen angeben.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="user.roles" name="userRole">
          <mat-option *ngFor="let userRole of userRoles" [value]="userRole">
            {{getRoleText(userRole)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input [(ngModel)]="user.password" [type]="hidePassword ? 'password' : 'text'" matInput name="password"
               placeholder="Passwort">
        <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword" mat-icon-button
                matSuffix>
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          Bitte ein Passwort angeben.
        </mat-error>
      </mat-form-field>

      <button [disabled]="!userCreateForm.form.valid" color="primary" mat-raised-button>Erstellen</button>
    </form>
  </mat-card-content>
</mat-card>
