table {
  min-width: 60em;
}

.spacer {
  flex: 1 1 auto;
}

.date-column {
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 15em;
}

.cell-center {
  text-align: center;
  justify-content: center;
}

.icon-action-bar {
  font-size: 2em;
}

.outline {
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}

.list-action-icon {
  font-size: 2em;
}

.header-span {
  margin-left: 0.5rem;
}
