<mat-card>
  <mat-card-header>
    <mat-card-title>Öffnungszeiten</mat-card-title>
    <span class="spacer"></span>
    <button (click)="onAdd()" color="accent" mat-stroked-button>
      <mat-icon>add</mat-icon>
      Erstellen
    </button>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef class="date-column" mat-header-cell mat-sort-header="start">Datum
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="date-column" mat-cell>{{getDateString(element)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="25m">
        <mat-header-cell *matHeaderCellDef mat-header-cell>25m</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  mat-cell>{{getOccupanciesString(element.distance25mBlockManualOccupancy, element.distance25mBlockElectronicOccupancy)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="50m">
        <mat-header-cell *matHeaderCellDef mat-header-cell>50m</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  mat-cell>{{getOccupanciesString(element.distance50mManualOccupancy, element.distance50mElectronicOccupancy)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="100m">
        <mat-header-cell *matHeaderCellDef mat-header-cell>100m</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  mat-cell>{{getOccupancyString(element.distance100mOccupancy)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="300m">
        <mat-header-cell *matHeaderCellDef mat-header-cell>300m</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  mat-cell>{{getOccupancyString(element.distance300mOccupancy)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="public">
        <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header="public">Öffentlich</mat-header-cell>
        <mat-cell *matCellDef="let element" mat-cell>
          <mat-icon *ngIf="element.public">check</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reservation">
        <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header="enableReservation">Reservation
        </mat-header-cell>
        <mat-cell *matCellDef="let element" mat-cell>
          <mat-icon *ngIf="element.enableReservation">check</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef mat-header-cell>Kommentar</mat-header-cell>
        <mat-cell *matCellDef="let element" mat-cell>{{element.comment}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-header-cell>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="align-right" mat-cell>
          <mat-icon>navigate_next</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" mat-header-row></mat-header-row>
      <mat-row (click)="onView(row)" *matRowDef="let row; columns: displayedColumns;" mat-row matRipple></mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                   aria-label="Select page of events"></mat-paginator>
  </mat-card-content>
</mat-card>
