<h1>Reservationen
  <span class="spacer"></span>
  <button (click)="onAdd()" class="action-buttons" color="accent" mat-stroked-button>
    <mat-icon>add</mat-icon>
    Hinzufügen
  </button>
</h1>

<app-time-range-selector (changeEvent)="onTimeRangeChange()"></app-time-range-selector>

<br>

<div class="reservation-list">
  <business-hour-reservation-list (deleteEvent)="onDelete($event)" (editEvent)="onEdit($event)" [dateList]="dateList"
                                  [reservationList]="reservationList"></business-hour-reservation-list>
</div>




