<mat-card>
  <mat-card-header>
    <mat-card-title>Anlässe</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="start">Datum</th>
        <td *matCellDef="let element" mat-cell>{{getDayString(element)}}, {{getDateString(element)}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="title">Titel</th>
        <td *matCellDef="let element" mat-cell>{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="categoryId">Kategorie</th>
        <td *matCellDef="let element" mat-cell>{{element.category.name}}</td>
      </ng-container>

      <ng-container matColumnDef="public">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="public">Öffentlich</th>
        <td *matCellDef="let element" class="cell-center" mat-cell>
          <mat-icon *ngIf="element.public">check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="shifts">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="shiftPlanning">Schichten</th>
        <td *matCellDef="let element" class="cell-center" mat-cell>
          <mat-icon *ngIf="element.shiftPlanning">check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell>
          <span>
            Aktion
          </span>
          <span class="header-span">
            <mat-button-toggle-group #generalGroup="matButtonToggleGroup">
              <mat-button-toggle (click)="onCreate()" matTooltip="Erstellen">
                <mat-icon color="accent" inline="true">add</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </span>
        </th>
        <td *matCellDef="let element" class="align-right" mat-cell>
          <mat-button-toggle-group #elementGroup="matButtonToggleGroup">
            <mat-button-toggle (click)="onInfo(element)" *ngIf="element.publicInformation != ''"
                               matTooltip="Informationen">
              <mat-icon class="list-action-icon" color="primary" inline="true">info_outline</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="onEdit(element)" matTooltip="Editieren">
              <mat-icon class="list-action-icon" color="primary" inline="true">edit</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="onDelete(element)" matTooltip="Löschen">
              <mat-icon class="list-action-icon" color="primary" inline="true">delete</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                   aria-label="Select page of events"></mat-paginator>
  </mat-card-content>
</mat-card>
