<h1>Downloads</h1>

<app-year-selector-standalone [noSpacer]="true"/>
<br>

<div class="flex-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Schichtenplan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="shiftReportSelect" name="category">
          <mat-option *ngFor="let category of categoryList" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="onShiftReportDownload()" color="primary" mat-flat-button>
        <mat-icon>download</mat-icon>
        Download
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Mitgliederschichtenliste</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="onShiftStaffReportDownload()" color="primary" mat-flat-button>
        <mat-icon>download</mat-icon>
        Download
      </button>
    </mat-card-actions>
  </mat-card>
</div>
