
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

mat-card {
  margin-right: 1em;
  min-width: 17em;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  height: 100%;
}







