<mat-form-field appearance="outline">
  <mat-hint>Tag</mat-hint>
  <mat-select (selectionChange)="onAccountingChange()" [(ngModel)]="selectedAccounting" name="accounting">
    <mat-option *ngFor="let accountingData of accountingList" [value]="accountingData.id">
      {{getDateTimeString(accountingData)}} ({{getTypeString(accountingData.type)}})
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-hint>Verein</mat-hint>
  <mat-select (selectionChange)="onOrganizationChange()" [(ngModel)]="selectedOrganization"
              [disabled]="disableOrganization"
              name="organization">
    <mat-option *ngFor="let organizationData of organizationMap | keyvalue" [value]="organizationData.value.id">
      {{organizationData.value.name}} ({{organizationData.value.abbreviation}})
    </mat-option>
  </mat-select>
</mat-form-field>

<p>
  <button (click)="onSubmit()" [disabled]="disableSubmitButton" class="full-width" color="primary" mat-raised-button>
    Weiter
  </button>
</p>
