.shooting-range-sidenav-container {
  width: auto;
  height: 93%;
  background: white;
}

.shooting-range-sidenav {
  height: auto;
  width: 15rem;
  background: white;
}

.shooting-range-content {
  flex: auto;
  height: 100%;
  width: 100%;
  margin: 1em 0em 1em 0em;
  display: flex;
  justify-content: center;
}

