<mat-drawer-container class="shooting-range-sidenav-container">
  <mat-drawer #drawer class="shooting-range-sidenav" id="side" mode="side" opened>
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="./daily-accounting">
        Tagesabrechnung
        <mat-icon matListItemIcon>account_balance</mat-icon>
      </mat-list-option>

      <mat-list-option routerLink="./accounting-list">
        Schusszahlen
        <mat-icon matListItemIcon>list_alt</mat-icon>
      </mat-list-option>

      <mat-list-option routerLink="./invoice-list">
        Rechnungen
        <mat-icon matListItemIcon>list</mat-icon>
      </mat-list-option>
      <mat-list-option routerLink="./invoice-edit">
        Rechnung erstellen
        <mat-icon matListItemIcon>money</mat-icon>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="shooting-range-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
