<mat-card>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Mitgliederliste</mat-card-title>
    </mat-card-header>

    <table [dataSource]="memberList$" mat-table>
      <ng-container matColumnDef="firstname">
        <th *matHeaderCellDef mat-header-cell>Vorname</th>
        <td *matCellDef="let element" mat-cell> {{element.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th *matHeaderCellDef mat-header-cell>Nachname</th>
        <td *matCellDef="let element" mat-cell> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th *matHeaderCellDef mat-header-cell>Geburtstag</th>
        <td *matCellDef="let element" mat-cell>
          {{stringHelper.getDateString(element.birthdate)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th *matHeaderCellDef mat-header-cell>Telefon</th>
        <td *matCellDef="let element" mat-cell> {{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="vvaId">
        <th *matHeaderCellDef mat-header-cell>VVA-ID</th>
        <td *matCellDef="let element" mat-cell> {{element.vvaId}}</td>
      </ng-container>

      <ng-container matColumnDef="rangeOfficer">
        <th *matHeaderCellDef mat-header-cell>SM</th>
        <td *matCellDef="let element" mat-cell>
          <mat-icon *ngIf="element.rangeOfficer" class="range-officer-icon">done</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef class="align-right" mat-header-cell>
          <span class="header-span">
            <mat-button-toggle-group #generalGroup="matButtonToggleGroup">
              <mat-button-toggle (click)="onCreate()" matTooltip="Erstellen">
                <mat-icon color="accent" inline="true">add</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </span>
        </th>
        <td *matCellDef="let element" class="align-right" mat-cell>
          <mat-button-toggle-group #elementGroup="matButtonToggleGroup">
            <mat-button-toggle (click)="onEdit(element)" matTooltip="Bearbeiten">
              <mat-icon class="list-action-icon" color="primary" inline="true">edit</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="onDelete(element)" matTooltip="Löschen">
              <mat-icon class="list-action-icon" color="primary" inline="true">delete</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>

