<button (click)="onSave()" class="full-width" color="primary" mat-raised-button type="button">
  Speichern
</button>
<!--
<table>
  <tr>
    <td>Datum</td>
    <td>:</td>
    <td>{{getDateString(this.accountingData.date)}}</td>
  </tr>
  <tr>
    <td>Zeit</td>
    <td>:</td>
    <td>{{this.accountingData.startTime}} - {{this.accountingData.endTime}}</td>
  </tr>

  <tr>
    <td>Schüsse</td>
    <td>:</td>
    <td>{{this.shotCount}}</td>
  </tr>
</table>
<br>
<app-shot-number-table [(accountingData)]="accountingData" [editDisabled]="true"></app-shot-number-table>
-->
<app-shooting-range-accounting-view [accountingData]="accountingData"></app-shooting-range-accounting-view>
