<mat-drawer-container class="admin-sidenav-container">
  <mat-drawer #drawer class="admin-sidenav" id="side" mode="side" opened>
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="./user-list">
        <mat-icon matListItemIcon>person</mat-icon>
        Benutzer
      </mat-list-option>

      <mat-list-option routerLink="./notifier-list">
        <mat-icon matListItemIcon>notifications</mat-icon>
        Benachrichtigungen
      </mat-list-option>

      <mat-list-option routerLink="./organization-list">
        <mat-icon matListItemIcon>corporate_fare</mat-icon>
        Organisationen
      </mat-list-option>
      <mat-list-option routerLink="./price-list">
        <mat-icon matListItemIcon>money</mat-icon>
        Preise
      </mat-list-option>
      <mat-list-option routerLink="./event-category-list">
        <mat-icon matListItemIcon>category</mat-icon>
        Anlasskategorie
      </mat-list-option>
      <mat-list-option routerLink="./event-shift-category-list">
        <mat-icon matListItemIcon>category</mat-icon>
        Schichtenkategorie
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
