<form (ngSubmit)="onSubmit()" [formGroup]="dateForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Datum</mat-label>
      <input [matDatepicker]="picker" formControlName="date" matInput>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-hint>Startzeit</mat-hint>
      <input formControlName="startTime" matInput required type="Time">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-hint>Endzeit</mat-hint>
      <input formControlName="endTime" matInput required type="Time">
    </mat-form-field>
  </p>
  <button [disabled]="!dateForm.valid" class="full-width" color="primary" mat-raised-button type="submit">Weiter
  </button>
</form>
