<form #invoiceInformationForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Titel</mat-label>
    <input [(ngModel)]="invoiceData.title" matInput name="title" required type="text">
    <mat-error>
      Bitte einen Titel angeben.
    </mat-error>
  </mat-form-field>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rechnungsempfänger (optional)
      </mat-panel-title>
      <mat-panel-description>
        <span class="expansion-panel-spacer"></span>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class="full-width">
      <tr>
        <td colspan="2">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="invoiceData.debtor.name" matInput name="debtor_name" type="text">
            <mat-error>
              Bitte einen Namen angeben.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="full-width">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Adresse</mat-label>
            <input [(ngModel)]="invoiceData.debtor.address" matInput name="debtor_address" type="text">
            <mat-error>
              Bitte eine Addresse angeben.
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="street-number-form-field">
            <mat-label>Nummer</mat-label>
            <input [(ngModel)]="invoiceData.debtor.buildingNumber" matInput name="debtor_buildingNumber" size="4"
                   type="text">
            <mat-error>
              Bitte eine Strassennummer angeben.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="full-width">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Stadt</mat-label>
            <input [(ngModel)]="invoiceData.debtor.city" matInput name="debtor_city" type="text">
            <mat-error>
              Bitte eine Strassennummer angeben.
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="street-number-form-field">
            <mat-label>PLZ</mat-label>
            <input [(ngModel)]="invoiceData.debtor.zip" matInput maxlength="4" minlength="4" name="debtor_zip"
                   type="number">
            <mat-error>
              Bitte eine Addresse angeben.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>

    </table>
  </mat-expansion-panel>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rechnungssteller
      </mat-panel-title>
      <mat-panel-description>
        <span class="expansion-panel-spacer"></span>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class="full-width">
      <tr>
        <td colspan="2">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="invoiceData.creditor.name" matInput name="creditor_name" required type="text">
            <mat-error>
              Bitte einen Namen angeben.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="full-width">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Adresse</mat-label>
            <input [(ngModel)]="invoiceData.creditor.address" matInput name="creditor_address" required type="text">
            <mat-error>
              Bitte eine Addresse angeben.
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="street-number-form-field">
            <mat-label>Nummer</mat-label>
            <input [(ngModel)]="invoiceData.creditor.buildingNumber" matInput name="creditor_buildingNumber" required
                   size="4" type="text">
            <mat-error>
              Bitte eine Strassennummer angeben.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="full-width">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Stadt</mat-label>
            <input [(ngModel)]="invoiceData.creditor.city" matInput name="creditor_city" required type="text">
            <mat-error>
              Bitte eine Strassennummer angeben.
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="street-number-form-field">
            <mat-label>PLZ</mat-label>
            <input [(ngModel)]="invoiceData.creditor.zip" matInput maxlength="4" minlength="4" name="creditor_zip"
                   required type="number">
            <mat-error>
              Bitte eine Addresse angeben.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>IBAN</mat-label>
            <input [(ngModel)]="invoiceData.creditor.account" matInput name="creditor_account" required type="text">
            <mat-error>
              Bitte eine IBAN angeben.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-expansion-panel>
  <p>
    <button [disabled]="!invoiceInformationForm.form.valid" class="full-width" color="primary" mat-raised-button>
      Weiter
    </button>
  </p>
</form>
