<table mat-table [dataSource]="this.shotNumberBilling.trackShots" class="mat-elevation-z8">

  <ng-container matColumnDef="tracks">
    <th mat-header-cell *matHeaderCellDef> Scheibe</th>
    <td mat-cell *matCellDef="let element"> {{element.track}} </td>
  </ng-container>

  <ng-container matColumnDef="shots">
    <th mat-header-cell *matHeaderCellDef> Schüsse</th>
    <td mat-cell *matCellDef="let element"> {{element.shots}} </td>
  </ng-container>

  <ng-container matColumnDef="shotPrice">
    <th mat-header-cell *matHeaderCellDef> Schussgeld</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editDisabled == false">
        <mat-form-field appearance="standard">
          <input matInput type="number" min="0.01" step="0.05" (change)="element.shotPrice=convertToFloat($event)"
                 [value]="element.shotPrice | number: '1.2-2'" [disabled]="editDisabled">
          <span matSuffix>Fr.</span>
        </mat-form-field>
      </div>
      <div *ngIf="editDisabled == true">
        {{element.shotPrice | number: '1.2-2'}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="organization">
    <th mat-header-cell *matHeaderCellDef> Zuordnung</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editDisabled == false">
        <mat-select (selectionChange)="dataChanged()" [(value)]="element.organizationId"
                    placeholder="Bitte auswählen" [disabled]="editDisabled">
          <mat-option *ngFor="let organization of organizations" [value]="organization.id">
            {{organization.fullName}} ({{organization.abbreviation}})
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="editDisabled == true">
        {{getOrganizationText(element.organizationId)}}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
