<table [dataSource]="dataSource" class="mat-elevation-z4" mat-table>
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell>Zeit</th>
    <td *matCellDef="let element" class="no-wrap" mat-cell> {{getTimeString(element)}}</td>
  </ng-container>

  <ng-container *ngFor="let column of columns" [matColumnDef]="column.def">
    <th *matHeaderCellDef mat-header-cell>
      <div><span>{{column.header}}</span></div>
    </th>
    <td *matCellDef="let element" [ngClass]="isTotalRow(element) ? 'total-column' : ''"
        class="cell-content-number"
        mat-cell> {{column.dataMap.get(element.event.id)}}</td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th *matHeaderCellDef class="total-column" mat-header-cell></th>
    <td *matCellDef="let element" class="total-column" mat-cell>{{getTotalString(element)}}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

