mat-card {
  min-width: 40em;
}

mat-table {
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
  text-align: center;
}

.total-column {
  border-width: 0px;
  font-weight: bold;
}

.cell-content-number {
  text-align: center;
}

th {
  vertical-align: bottom;
}

.no-wrap {
  white-space: nowrap;
}
