<mat-card>
  <mat-card-header>
    <mat-card-title>Öffnungszeiten</mat-card-title>
    <span class="spacer"></span>
    <button (click)="onAdd()" color="accent" mat-stroked-button>
      <mat-icon>add</mat-icon>
      Erstellen
    </button>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="start">Datum</th>
        <td *matCellDef="let element" mat-cell>{{getDateString(element)}}</td>
      </ng-container>

      <ng-container matColumnDef="25m">
        <th *matHeaderCellDef mat-header-cell>25m</th>
        <td *matCellDef="let element" class="cell-center"
            mat-cell>{{getOccupanciesString(element.distance25mBlockManualOccupancy, element.distance25mBlockElectronicOccupancy)}}</td>
      </ng-container>

      <ng-container matColumnDef="50m">
        <th *matHeaderCellDef mat-header-cell>50m</th>
        <td *matCellDef="let element" class="cell-center"
            mat-cell>{{getOccupanciesString(element.distance50mManualOccupancy, element.distance50mElectronicOccupancy)}}</td>
      </ng-container>

      <ng-container matColumnDef="100m">
        <th *matHeaderCellDef mat-header-cell>100m</th>
        <td *matCellDef="let element" class="cell-center"
            mat-cell>{{getOccupancyString(element.distance100mOccupancy)}}</td>
      </ng-container>

      <ng-container matColumnDef="300m">
        <th *matHeaderCellDef mat-header-cell>300m</th>
        <td *matCellDef="let element" class="cell-center"
            mat-cell>{{getOccupancyString(element.distance300mOccupancy)}}</td>
      </ng-container>

      <ng-container matColumnDef="public">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="public">Öffentlich</th>
        <td *matCellDef="let element" class="cell-center" mat-cell>
          <mat-icon *ngIf="element.public">check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="reservation">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="enableReservation">Reservation</th>
        <td *matCellDef="let element" class="cell-center" mat-cell>
          <mat-icon *ngIf="element.enableReservation">check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th *matHeaderCellDef mat-header-cell>Kommentar</th>
        <td *matCellDef="let element" mat-cell>{{element.comment}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell>
        </th>
        <td *matCellDef="let element" class="align-right" mat-cell>
          <button (click)="onView(element)" mat-icon-button>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                   aria-label="Select page of events"></mat-paginator>
  </mat-card-content>
</mat-card>
