<form (ngSubmit)="onSubmit()" [formGroup]="militaryForm">
  <mat-form-field appearance="outline">
    <mat-hint>Datum</mat-hint>
    <input [matDatepicker]="picker" formControlName="date" matInput placeholder="Datum">
    <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-hint>Startzeit</mat-hint>
    <input formControlName="startTime" matInput required type="Time">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-hint>Endzeit</mat-hint>
    <input formControlName="endTime" matInput required type="Time">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Anzahl Schüsse</mat-label>
    <input formControlName="shots" matInput required type="Number">
    <span matSuffix>Schuss </span>
  </mat-form-field>

  <button [disabled]="!militaryForm.valid" class="full-width" color="primary" mat-raised-button type="submit">Weiter
  </button>
</form>
