<h1 mat-dialog-title>Nachricht von {{data.firstname}} {{data.lastname}}</h1>

<mat-dialog-content>
  <table>
    <tr>
      <td>E-Mail</td>
      <td>:</td>
      <td>{{data.email}}</td>

    </tr>
    <tr>
      <td>Natelnummer</td>
      <td>:</td>
      <td>{{data.mobile}}</td>
    </tr>
    <tr>
      <td colspan="3">
        <hr>
      </td>
    </tr>
    <tr>
      <td colspan="3">{{data.message}}</td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onClose()" cdkFocusInitial mat-flat-button>Schliessen</button>
  <span class="spacer"></span>
  <button (click)="onAnswer()" color="primary" mat-flat-button>Antworten</button>
</mat-dialog-actions>
