<h3>{{invoiceData.title}}</h3>

<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Rechnungsinformationen
    </mat-panel-title>
    <mat-panel-description>
      <span class="expansion-panel-spacer"></span>
      <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <table class="full-width">
    <tr>
      <th class="half-width">
        Rechnungssteller
      </th>
      <th *ngIf="showDebtor" class="half-width">
        Rechnungsempfänger
      </th>
    </tr>
    <tr>
      <td>
        {{invoiceData.creditor.name}}
      </td>
      <td *ngIf="showDebtor">
        {{invoiceData.debtor.name}}
      </td>
    </tr>
    <tr>
      <td>
        {{invoiceData.creditor.address + " " + invoiceData.creditor.buildingNumber}}
      </td>
      <td *ngIf="showDebtor">
        {{invoiceData.debtor.address + " " + invoiceData.debtor.buildingNumber}}
      </td>
    </tr>
    <tr>
      <td>
        {{invoiceData.creditor.zip + " " + invoiceData.creditor.city}}
      </td>
      <td *ngIf="showDebtor">
        {{invoiceData.debtor.zip + " " + invoiceData.debtor.city}}
      </td>
    </tr>
    <tr>
      <td>
        {{invoiceData.creditor.account}}
      </td>
      <td *ngIf="showDebtor">
      </td>
    </tr>
  </table>
</mat-expansion-panel>

<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Rechnungsposten
    </mat-panel-title>
    <mat-panel-description>
      <span class="expansion-panel-spacer"></span>
      <mat-icon>money</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <table [dataSource]="invoiceData.items" class="full-width" mat-table>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>Pos.</th>
      <td *matCellDef="let element" class="no-wrap" mat-cell> {{element.position}}</td>
      <td *matFooterCellDef mat-footer-cell></td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef class="full-width" mat-header-cell>Beschreibung</th>
      <td *matCellDef="let element" class="full-width" mat-cell> {{element.description}}</td>
      <td *matFooterCellDef mat-footer-cell></td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell>Anzahl</th>
      <td *matCellDef="let element" mat-cell> {{element.amount}} </td>
      <td *matFooterCellDef mat-footer-cell></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell>Preis</th>
      <td *matCellDef="let element" class="no-wrap" mat-cell> {{getCostString(element.price)}} </td>
      <td *matFooterCellDef class="no-wrap" mat-footer-cell>Total</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th *matHeaderCellDef mat-header-cell>Total</th>
      <td *matCellDef="let element" class="no-wrap" mat-cell> {{getCostString(element.price * element.amount)}}</td>
      <td *matFooterCellDef class="no-wrap" mat-footer-cell> {{getCostString(getTotalCost())}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
  </table>
</mat-expansion-panel>
