.spacer {
  flex: 1 1 auto;
}

.form-element {
  margin-right: 0.5em;
  width: 100%;
}

button.add-date-class {
  background: lightgreen;
  border-radius: 100%;
}

.occupancy-label {
  padding-right: 2em
}

.occupancy-value {
  font-weight: bold;
}

.occupancy-red-text {
  color: red;
}

.occupancy-green-text {
  color: green;
}
