<h2>Schiessanlage Ohrbühl</h2>

<p>
  Winterthur verfügt über eine der grössten und modernsten Schiessanlagen im Kanton Zürich. Der Grossteil der Anlagen
  verfügt über elektronische Scheiben bzw. Trefferanzeigen.
</p>

<p>
  Betrieben wird die Schiessanlage vom Schützenverband Ohrbühl, dem insgesamt 21 Vereine angeschlossen sind. Wer
  Mitglied in einem der Vereine ist, hat an den offiziellen Schiesstagen Zugang zur Anlage.
</p>

<h4>Die Anlage im Überblick:</h4>
<ul>
  <li>25-m-Anlage mit 20 Scheiben</li>
  <li>50-m-Anlage mit 20 Scheiben</li>
  <li>100-m-Anlage mit 6 Scheiben</li>
  <li>300-m-Anlage mit 64 Scheiben</li>
</ul>

<h4>Adresse / Kontakt</h4>
<p>
  Schiessanlage Ohrbühl<br>
  Seenerstrasse 139<br>
  8404 Winterthur
</p>

<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>phone</mat-icon>
    <div matListItemTitle>+41 52 267 49 11</div>
  </mat-list-item>
</mat-list>
<iframe class="embedded-map"
        src="https://www.openstreetmap.org/export/embed.html?bbox=8.761674463748934%2C47.49699155515771%2C8.765214979648592%2C47.49857537482245&amp;layer=mapnik"></iframe>
<br/>
<small><a href="https://www.openstreetmap.org/#map=19/47.49778/8.76344">Größere Karte anzeigen</a></small>


