<table [dataSource]="dataSource" mat-table>
  <ng-container matColumnDef="member" sticky>
    <th *matHeaderCellDef mat-header-cell>Mitglied</th>
    <td *matCellDef="let element" class="no-wrap" mat-cell> {{element.firstName}} {{element.lastName}}</td>
    <td *matFooterCellDef mat-footer-cell></td>
  </ng-container>

  <ng-container *ngFor="let column of columns" [matColumnDef]="column.def">
    <th *matHeaderCellDef class="column-header-event" mat-header-cell>{{column.header}}</th>
    <td *matCellDef="let element" class="column-event" mat-cell>
      <mat-checkbox (change)="onCheckboxChange(element, column, $event)"
                    [checked]="isInPool(element, column)"></mat-checkbox>
    </td>
    <td *matFooterCellDef class="column-event" mat-footer-cell>{{column.totalCount}}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
</table>
