mat-card {
  min-width: auto;
}

mat-table {
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.column-header-event {
  width: 30px;
}

.column-event {
  align-content: center;
  text-align: center;
}

.total-column {
  border-width: 0px;
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}
