table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-header-cell {
  padding-right: 10px;
  padding-left: 10px;
}

.mat-cell {
  padding-right: 10px;
  padding-left: 10px;
}

.not-filled-in {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.25);
}

.price-selection {
  width: 15em;
}

.organization-selection {
  width: 15em;
}

.number-input {
  width: 6em;
  flex-direction: row;
}

.comment-input {
  flex-direction: row;
}

.wrapper {
  display: flex;
  /*: baseline;*/
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}


.fields-wrapper {
  /*flex: 1 1 5%;

   display: inline-flex;
    flex-wrap: wrap;
   */

  margin-top: 1em;
  margin-right: 1em;
}
