<table [dataSource]="this.accountingData.items" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="tracks">
    <th *matHeaderCellDef mat-header-cell> Scheibe</th>
    <td *matCellDef="let element" [class.not-filled-in]="!isFilledIn(element)"
        mat-cell>{{element.track}} </td>
  </ng-container>

  <ng-container matColumnDef="shots">
    <th *matHeaderCellDef mat-header-cell> Schüsse</th>
    <td *matCellDef="let element" [class.not-filled-in]="!isFilledIn(element)" mat-cell>
      <div *ngIf="editShots == false">
        {{element.amount}}
      </div>
      <div *ngIf="editShots == true">
        <mat-form-field appearance="outline" class="number-input" style="flex-direction: row">
          <input [(ngModel)]="element.amount" matInput max="10000" min="0" type="number">
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="shotPrice">
    <th *matHeaderCellDef mat-header-cell> Schussgeld</th>
    <td *matCellDef="let element" [class.not-filled-in]="!isFilledIn(element)" mat-cell>
      <div *ngIf="editDisabled == false">
        <mat-select (valueChange)="onPriceChange(element, $event)" [(value)]="element.price.id"
                    placeholder="Bitte auswählen">
          <mat-option *ngFor="let price of prices" [value]="price.id">
            {{price.name}} ({{price.price}} SFr.)
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="editDisabled == true">
        {{element.price.name}} ({{element.price.price}} SFr.)
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="organization">
    <th *matHeaderCellDef mat-header-cell> Zuordnung</th>
    <td *matCellDef="let element" [class.not-filled-in]="!isFilledIn(element)" mat-cell>
      <div *ngIf="editDisabled == false">
        <mat-select (valueChange)="onOrganizationChange(element, $event)" [(value)]="element.organization.id"
                    [disabled]="editDisabled" placeholder="Bitte auswählen">
          <mat-option *ngFor="let organization of organizations" [value]="organization.id">
            {{organization.name}} ({{organization.abbreviation}})
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="editDisabled == true">
        {{getOrganizationText(element)}}
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
