<h2>{{organizationData.name}} ({{organizationData.abbreviation}})</h2>
<p *ngIf="organizationData.vvaId!=''">
  VVA-ID:
</p>
<ul *ngIf="organizationData.vvaId!=''">
  <li>{{organizationData.vvaId}}</li>
</ul>

Distanzen:
<ul>
  <li *ngIf="organizationData.distance_300m">300m</li>
  <li *ngIf="organizationData.distance_100m">100m</li>
  <li *ngIf="organizationData.distance_50m">50m</li>
  <li *ngIf="organizationData.distance_25m">25m</li>
</ul>
<br>
<p *ngIf="authService.isAdmin()">
  <mat-form-field appearance="outline">
    <mat-label>Verein</mat-label>
    <mat-select (valueChange)="onOrganizationChange($event)" [(ngModel)]="organizationId" name="manager">
      <mat-option *ngFor="let organization of organizationList" [value]="organization.id">
        {{organization.abbreviation}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<mat-card *ngIf="reservationList.length != 0" class="reservation-card">
  <mat-card-header>
    <mat-card-title>Nächste Reservationen</mat-card-title>
    <mat-icon class="mat-card-icon" color="primary" mat-card-avatar>donut_large</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <business-hour-next-reservations [reservationList]="reservationList"></business-hour-next-reservations>
  </mat-card-content>
</mat-card>
