<h1>Schichtenstatistik</h1>
<app-year-selector-standalone (yearChangeEvent)="onYearChange()"></app-year-selector-standalone>
<br>
<mat-form-field appearance="outline">
  <mat-label>Kategorie</mat-label>
  <mat-select (valueChange)="onCategoryChange($event)" [value]="getCategory()" name="category">
    <mat-option *ngFor="let category of categoryList" [value]="category.id">
      {{category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<app-statistic-event-shifts-table></app-statistic-event-shifts-table>

