<mat-card>
  <mat-card-header>
    <mat-card-title>Helferstatistik</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="name">Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="pool-count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="poolCount">Pooldaten</th>
        <td *matCellDef="let element" class="align-center" mat-cell> {{element.poolCount}}</td>
      </ng-container>

      <ng-container matColumnDef="shift-count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="shiftCount">Schichten</th>
        <td *matCellDef="let element" class="align-center" mat-cell> {{element.shiftCount}}</td>
      </ng-container>

      <ng-container matColumnDef="present-count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="presentCount">Anwesend</th>
        <td *matCellDef="let element" [class.text-green]="element.presentCount" class="align-center"
            mat-cell>{{element.presentCount}}</td>
      </ng-container>

      <ng-container matColumnDef="not-present-count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="notPresentCount">Abwesend</th>
        <td *matCellDef="let element" [class.text-red]="element.notPresentCount" class="align-center"
            mat-cell>{{element.notPresentCount}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                   aria-label="Select page of users"></mat-paginator>
  </mat-card-content>
</mat-card>

