.sidenav-container {
  width: auto;
  height: 93%;
}

.sidenav {
  height: auto;
  background: white;
}

.sidenav-sub-item {
  padding-left: 0.5em !important;
}

.sidenav-content {
  flex: auto;
  height: auto;
  width: auto;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.sidenav-link {
}

.sidenav-link:hover {
  background: #e2e8f0 !important;
}

.sidenav-link:focus {
  background: #BBDEFB !important;
  font-weight: bold;
}

.sidenav-link-small {
  width: 3.5em;
}

.sidenav-link-small:hover {
  background: #e2e8f0 !important;
}

.sidenav-link-small:focus {
  background: #BBDEFB !important;
  font-weight: bold;
}
